@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
main {
    display: flex;
}

/* SideBar */
nav {
    background: #1D3557;
    width: 180px;
    position: fixed;
    height: 100Vh;
    font-family: 'Poppins', sans-serif;
}
nav ul {
    list-style: none;
    margin: 40px 20px;
}
nav li {
    margin-bottom: 30px;
}
nav a {
    color: #F1FAEE;
    text-decoration: none;
    font-size: 22px;
}

/*Contenu*/
h1 {
    font-family: 'Poppins', sans-serif;
    color: #F1FAEE;
    padding: 15px 0 15px 250px;
    background: #457B9D;
    width: 100vw;
}
.content {
    
}
.content table {
    margin: 10px 0 0 220px;
    border-spacing: 18px;
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.content table a {
    text-decoration: none;
    color: #E63946;
}
